@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

.ui-break-words {
  word-break: break-word;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
